<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
       routerLink="">Shopping List</a>
    <ul class="nav navbar-nav ml-auto">
      <span>
        <button mat-raised-button
                [color]="'warn'"
                (click)="onResetList()">
          Reset List
        </button>
        <button mat-raised-button
                [color]="'primary'"
                (click)="onNavigateToFormattedList()">
          View Formatted List
        </button>
      </span>
    </ul>
  </nav>
</div>
