header {
  text-align: center;
}

.logo {
  background: black;
  padding: 0.5rem 0;
}

#shoppingListLink {
  text-decoration: none;
  color: white;
}

#shoppingListLink.active {
  text-decoration: underline white;
}

nav {
  background: lightgray;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav ul li {
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
}

#basicsListLink {
  text-decoration: none;
  color: black;
}

#basicsListLink.active {
  text-decoration: underline;
}


@media screen and (min-width: 40rem) {
  header {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .logo {
    height: 100%;
    padding-top: 0.8rem;
  }

  nav {
    display: flex;
    border-bottom: 1px solid black;
    justify-content: flex-end;
    padding-right: 0.5rem;
  }

  nav ul li {
    border-bottom: none;
    padding-left: 0.5rem;
    border-left: 1px solid black;
    margin: 0.3rem 0;
  }


}
