.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

app-shopping-list-edit {
  display: block;
  margin: 1rem 0;
}

app-shopping-list-item {
  display: block;
  margin: 1rem 0;
  max-width: 100%;
}
