h4 {
  text-align: center;
}

ul {
  margin: 0 auto;
  padding: 1rem 0;
  list-style: none;
}

li {
  padding: 0.2rem;
  border-bottom: 2px solid grey;
}


@media screen and (min-width: 40rem) {
  .container {
    column-count: 2;
  }

  .categoryList {
    break-inside: avoid;
    padding-top: 1rem;
  }
}

@media print and (min-width: 1in) {
  .container {
    column-count: 2;
    /* gap: 1.5in; */
    font-size: 0.75rem;
    margin: 0;
  }

  .categoryList {
    break-inside: avoid;
    margin: -1rem 0 0 0;
  }

  li {
    padding: 2mm;
  }
}
